{minimum_otp_vsn, "R26"}.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    nowarn_deprecated_function,
    {platform_define, "^[0-9]+", namespaced_types}
]}.


{deps, []}.

{profiles, [
    {test, [
        {deps, [
            meck,
            proper
        ]},
        {erl_opts, [debug_info, export_all]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [
    verbose
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [undefined_function_calls]}.

{proper_opts, [
    {numtests, 300}
]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex,
    rebar3_proper
]}.